In [ ]:
import  pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [25]:
#  loading data into pandas to frame 
data_frame=pd.read_csv('diabetes.csv')

In [26]:
# checking row and columns here 390 rows and 10 columns
data_frame.shape

(390, 10)

In [27]:
data_frame.head(3)
# checkign top 3 lines of data

       CT    BPAD   BPAN  BPAN2    BWAD   BWAN  BWAN2   BMAD  BMAN  BMAN2
0  100500  1301.0  198.0  113.0   750.0  115.0   58.0  551.0  83.0   55.0
1  101100  1170.0  112.0   70.0   653.0   65.0   38.0  517.0  47.0   32.0
2  101400  1960.0  202.0  121.0  1081.0  106.0   61.0  879.0  96.0   60.0

In [28]:
data_frame.tail(5)

         CT    BPAD   BPAN  BPAN2   BWAD  BWAN  BWAN2   BMAD  BMAN  BMAN2
385   90200  1404.0  165.0   93.0  808.0  90.0   50.0  596.0  75.0   43.0
386   90300   811.0   92.0   59.0  441.0  47.0   26.0  370.0  45.0   33.0
387  980000     NaN    NaN    NaN    NaN   NaN    NaN    NaN   NaN    NaN
388  980100     5.0    0.0    0.0    4.0   0.0    0.0    0.0   0.0    0.0
389  980700    22.0    5.0    5.0   10.0   0.0    0.0   12.0   4.0    4.0

In [30]:
#data_frame.describe()
data_frame.isnull().values.any()

True